<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/jms 
        http://www.springframework.org/schema/jms/spring-jms.xsd
        http://activemq.apache.org/schema/core 
        http://activemq.apache.org/schema/core/activemq-core-5.8.0.xsd">

	<!-- <import resource="gwt-servlet.xml"/> -->

	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />

	<!-- Scans the classpath for annotated components that will be auto-registered 
		as Spring beans. For example @Controller and @Service. Make sure to set the 
		correct base-package -->
		
	<context:component-scan base-package="com.woopt.api" />
	<context:property-placeholder location="classpath:application.properties" />

	<mvc:annotation-driven />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://159.122.223.19/WOOPTDB" />
		<property name="username" value="root" />
		<property name="password" value="ibm12345" />
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.woopt.api.entity.UserEntity</value>
				<value>com.woopt.api.entity.DeviceEntity</value>
				<value>com.woopt.api.entity.AddressEntity</value>
				<value>com.woopt.api.entity.FamilyEntity</value>
				<value>com.woopt.api.entity.OfferEntity</value>
				<value>com.woopt.api.entity.OfferNotificationEntity</value>
				<value>com.woopt.api.entity.OfferUserPublishEntity</value>
				<value>com.woopt.api.entity.OfferUserPublishSharedEntity</value>
				<value>com.woopt.api.entity.OfferZoneScopeEntity</value>
				<value>com.woopt.api.entity.ShopBranchEntity</value>
				<value>com.woopt.api.entity.ShopEmployeeEntity</value>
				<value>com.woopt.api.entity.ShopEntity</value>
				<value>com.woopt.api.entity.ShopInfoEntity</value>
				<value>com.woopt.api.entity.ShopLoyaltyCardEntity</value>
				<value>com.woopt.api.entity.ShopLoyaltyCardStageEntity</value>
				<value>com.woopt.api.entity.ShopLoyaltyProgramEntity</value>
				<value>com.woopt.api.entity.ShopLoyaltyProgramStageEntity</value>
				<value>com.woopt.api.entity.ShopReviewEntity</value>
				<value>com.woopt.api.entity.ShopToCategoryEntity</value>
				<value>com.woopt.api.entity.UserEntity</value>
				<value>com.woopt.api.entity.UserInfoEntity</value>
				<value>com.woopt.api.entity.ConsumerEntity</value>
				<value>com.woopt.api.entity.ConsumerCheckInEntity</value>
				<value>com.woopt.api.entity.UserToShopLoyaltyCardEntity</value>
				<value>com.woopt.api.entity.UserToShopLoyaltyCardStageEntity</value>
				<value>com.woopt.api.entity.UserToShopLoyaltyProgramEntity</value>
				<value>com.woopt.api.entity.UserToShopLoyaltyProgramStageEntity</value>
				<value>com.woopt.api.entity.OrderEntity</value>
				<value>com.woopt.api.entity.CartEntity</value>
				<value>com.woopt.api.entity.CartItemEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="userDAO" class="com.woopt.api.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="deviceDAO" class="com.woopt.api.dao.impl.DeviceDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopDAO" class="com.woopt.api.dao.impl.ShopDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopInfoDAO" class="com.woopt.api.dao.impl.ShopInfoDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopBranchDAO" class="com.woopt.api.dao.impl.ShopBranchDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopEmployeeDAO" class="com.woopt.api.dao.impl.ShopEmployeeDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopReviewDAO" class="com.woopt.api.dao.impl.ShopReviewDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopLoyaltyCardDAO" class="com.woopt.api.dao.impl.ShopLoyaltyCardDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopLoyaltyCardStageDAO" class="com.woopt.api.dao.impl.ShopLoyaltyCardStageDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopLoyaltyProgramDAO" class="com.woopt.api.dao.impl.ShopLoyaltyProgramDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="shopLoyaltyProgramStageDAO" class="com.woopt.api.dao.impl.ShopLoyaltyProgramStageDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="offerDAO" class="com.woopt.api.dao.impl.OfferDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="consumerDAO" class="com.woopt.api.dao.impl.ConsumerDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="offerUserPublishDAO" class="com.woopt.api.dao.impl.OfferUserPublishDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="userToShopLoyaltyCardDAO" class="com.woopt.api.dao.impl.UserToShopLoyaltyCardDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="userToShopLoyaltyCardStageDAO" class="com.woopt.api.dao.impl.UserToShopLoyaltyCardStageDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="userToShopLoyaltyProgramDAO" class="com.woopt.api.dao.impl.UserToShopLoyaltyProgramDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="userToShopLoyaltyProgramStageDAO" class="com.woopt.api.dao.impl.UserToShopLoyaltyProgramStageDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
		
	<bean id="cartDAO" class="com.woopt.api.dao.impl.CartDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="cartItemDAO" class="com.woopt.api.dao.impl.CartItemDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="orderDAO" class="com.woopt.api.dao.impl.OrderDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
</beans>
